In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
import warnings

In [2]:
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [57]:
def remove_from_array(base_array, num):
    for index in range(len(base_array)):
        if (base_array[index]["ID"].values == num):
            base_array.pop(index)

In [ ]:
def stock_vs_options(symbols, start_date, end_date, exitStrat):
    starting_capital = 100000
    stockInvestor = investor(1, starting_capital, symbols, options)
    optioninvestor = investor(2, starting_capital, symbols, optionsdrop)
    tasks = {}
    for symbol in symbols:
        tasks.append({symbol: 1})
        
    stockInvestor.buy(tasks, exitStrat, start_date, end_date)
    
    for symbol in symbols:
        optionInvestor.callinvest(symbol, start_date, end_date, 0.1, 0.2)
        
    stockProfit = (optionInvestor.capital - starting_capital)/starting_capital
    optionProfit = (optionInvestor.capital - starting_capital)/starting_capital
    
    print("Stock Investor has created a loss/profit of "+ str(stockProfit))
    print("Option Investor has created a loss/profit of "+ str(optionProfit))

In [ ]:
stock_vs_options("MCO", "2018-05-09", "2018-06-20", "stopFive") # Hier das sollte nur ein Testfall sein. Leider fehlen mir die CSVs

In [ ]:
class investor:
    def __init__(self, no, capital, stockdata, optionsdata):
        self.no = no
        self.stockdata = stockdata
        self.optionsdata = optionsdata
        self.capital = capital
        self.initial = capital
        self.assetList = {}
        self.symbolCapital = {}
        self.boughtCalls = []
        self.soldCalls = []

    def compete(self, tasklist):
        counter = 1
        workers = {}
        for task in tasklist:
            worker = investor(counter, self.capital, self.stockdata, self.optionsdata)
            worker.buy(task[0], task[1], task[2], task[3])
            workers[counter] = worker.capital - self.capital
            counter += 1
        for w in workers:
            print("Worker with number " + str(w) + " has created a profit of "+ str(workers[w]))


    def stockinvest(self, shareno, symbol, exitS, entryD, exitD):
        entryD = pd.to_datetime(np.datetime64(entryD))
        exitD = pd.to_datetime(np.datetime64(exitD))
        date = entryD
        while (date <= exitD):
            temp = self.stockdata[(self.stockdata.Date == date) & (self.stockdata.UnderlyingSymbol == symbol)]
            if (temp["UnderlyingSymbol"].values.size > 0):
                if ((date >= entryD) & (date < exitD) & (temp["UnderlyingSymbol"].values == symbol)):
                    if ((temp["TradingPoints"].values == "0") | (temp["TradingPoints"].values == "2") | (temp["TradingPoints"].values == "1") | (temp["TradingPoints"].values == "3")):
                        self.capital = self.capital - temp.Close.values*shareno
                        self.assetList[symbol] = self.assetList[symbol] + shareno
                        print("Now buying " + str(shareno) + " Shares of Share " + symbol)
                        self.getAssetList()
                    if (temp["TradingPoints"].values == "4"):
                        self.capital = self.capital + temp.Close.values*round(self.assetList[symbol]*0.5)
                        print("Now selling " + str(round(self.assetList[symbol]*0.5)) + " Shares of Share " + symbol)
                        self.assetList[symbol] -= round(self.assetList[symbol] * 0.5)
                        self.getAssetList()
                    if (temp["TradingPoints"].values == "5"):
                        self.capital = self.capital + temp.Close.values*self.assetList[symbol]
                        self.assetList[symbol] = 0
                        print("Now sold all Shares of Share " + symbol)
                        self.getAssetList()
                        if (exitS == "stopFive"):
                            break
                if ((date == exitD) & (exitS == "sellAll")):
                    self.capital = self.capital + temp.Close.values*self.assetList[symbol]
                    self.assetList[symbol] = 0
                    print("Now sold all Shares")
                    self.getAssetList()
                    break
            date += timedelta(days=1)
        print("The profit that was generated by buying and selling stocks of " + symbol + " amounts to " + str((self.capital-self.symbolCapital[symbol])))


    def buy(self, task, exitS, entryD, exitD):
        for i in task:
            if (i in self.assetList):
                self.assetList[i] += task[i]
                self.stockinvest( task[i], i, exitS, entryD, exitD)
            else:
                self.assetList[i] = 0
                self.symbolCapital[i] = self.capital
                self.stockinvest(task[i], i, exitS, entryD, exitD)
        print("The remaining capital amounts to: " + str(self.capital))
        print("The total profit that was generated in this round amounts to " +str(self.capital - self.initial))

    def getAssetList(self):
        for i in self.assetList:
            print("The worker owns " + str(self.assetList[i]) + " of Asset " + i)

    def optionsPreprocessing(self):
        self.optionsdata.drop(self.optionsdata[self.optionsdata["Type"] == "put"].index, inplace = True)


    def buyCalls(self, df, stockprice, percentage, date, symbol, future, lower, buyer):
        future = pd.to_timedelta(future, "D")
        df = df[df["DataDate"] == date]
        df = df[df["UnderlyingSymbol"] == symbol]
        targetDate = date + future
        strikeTarget = stockprice * (1 + percentage)
        df["buyable"] = True
        df["Index"] = np.arange(0,len(df))
        df["targetDatePossible"] = False
        solution = 0
        checker = False
        while (checker == False):
            counter = 0
            for j,k in df.iterrows():
                if (k.Expiration == targetDate):
                    df.at[j, "targetDatePossible"] = True
                    k.targetDatePossible = True
                    counter += 1
                    if (counter >= 2):
                        checker = True
            if (checker == False):
                if (lower == False):
                    targetDate = targetDate + pd.to_timedelta(1, "D")
                if (lower == True):
                    targetDate = targetDate - pd.to_timedelta(1, "D")
        df = df[df["targetDatePossible"] == True]
        df2 = df.sort_values("Strike", inplace = False)
        df2["Index"] = np.arange(0,len(df2))
        #print("The selected Target Date is now: "  + str(targetDate))
        check = False
        for i in df2["Index"]:
            if((df2[df2["Index"] == i].Strike.values > strikeTarget)):
                if (i == 0):
                    solution = i
                    break;
                val1 = df2[df2["Index"] == i-1].Strike.values
                val2 = df2[df2["Index"] == i].Strike.values
                temp1 = abs(strikeTarget - val1)
                temp2 = abs(strikeTarget - val2)
                check = True
                if ((temp1 < temp2) | (buyer == True)):
                    solution = i-1
                else:
                    solution = i
                break;
        if (check == False):
            val1 = df2[df2["Index"] == len(df2)-2].Strike.values
            val2 = df2[df2["Index"] == len(df2)-1].Strike.values
            temp1 = abs(strikeTarget - val1)
            temp2 = abs(strikeTarget - val2)
            if ((temp1 < temp2) | (buyer == True)):
                solution = len(df2)-2
            else:
                solution = len(df2)-1
        return df2[df2["Index"] == solution]

    def callinvest(self, symbol, entryD, exitD, percentageBuy, percentageSell):
        entryD = pd.to_datetime(np.datetime64(entryD))
        exitD = pd.to_datetime(np.datetime64(exitD))
        date = entryD
        callsCapital = []
        self.optionsdata["ID"] = np.arange(len(self.optionsdata))
        finalD = exitD
        while (date <= finalD):
            print(date)
            temp = self.stockdata[(self.stockdata.Date == date) & (self.stockdata.UnderlyingSymbol == symbol)]
            if (temp["UnderlyingSymbol"].values.size > 0):
                for i in self.boughtCalls:
                    if (i.values.size > 0):
                        if((i.Expiration.values == date) & (i.UnderlyingSymbol.values == symbol)):
                            if(i.Strike.values < temp.Close.values):
                                for k in range(len(callsCapital)):
                                    for s in range(len(callsCapital)):
                                        if (callsCapital[k][s][0] == i.ID.values):
                                            tempo = callsCapital[k][s][1]
                                            callsCapital[k][s][1] = tempo + (temp.Close.values - i.Strike.values)*100
                                            callsCapital[k][2] += (temp.Close.values - i.Strike.values)*100
                                self.capital += temp.Close.values - i.Strike.values
                               # self.boughtCalls.remove(self.boughtCalls[self.boughtCalls["ID"].values == i.ID.values])
                               # print(i)
                                #print(self.boughtCalls[0])
                                remove_from_array(self.boughtCalls, i.ID.values)
                                print("Now selling "  + str(i.UnderlyingSymbol.values) + " with an expiration date " + str(i.Expiration.values) + " and a strike price of " + str(i.Strike.values) +" for a premium of " + str(i.Last.values))
                            else:
                                print("We let the option for the underlying " +  str(i.UnderlyingSymbol.values) + " expire.")

                for i in self.soldCalls:
                    if (i.values.size > 0):
                        if((i.Expiration.values == date) & (i.UnderlyingSymbol.values == symbol)):
                            if(i.Strike.values < temp.Close.values):
                                for k in range(len(callsCapital)):
                                    for s in range(len(callsCapital)):
                                        if (callsCapital[k][s][0] == i.ID.values):
                                            tempo = callsCapital[k][s][1]
                                            callsCapital[k][s][1] = tempo - (temp.Close.values - i.Strike.values)*100
                                            callsCapital[k][2] -= (temp.Close.values - i.Strike.values)*100
                                self.capital += temp.Close.values - i.Strike
                                #self.soldCalls.remove(i.values)
                                remove_from_array(self.soldCalls, i.ID.values)
                                print("Now selling "  + str(i.UnderlyingSymbol.values) + " with an expiration date " + str(i.Expiration.values) + " and a strike price of " + str(i.Strike.values) +" for a premium of " + str(i.Last.values) + " to the Call Holder")
                            else:
                                print("The Call holder lets the option for the underlying " +  str(i.UnderlyingSymbol.values) + " expire.")

                if ((date >= entryD) & (temp["UnderlyingSymbol"].values == symbol)):
                    if ((temp["TradingPoints"].values == "0") | (temp["TradingPoints"].values == "2") | (temp["TradingPoints"].values == "1") | (temp["TradingPoints"].values == "3")):
                        if (date < exitD):
                            sellCall = self.buyCalls(self.optionsdata, temp.Close.values, percentageSell, date, symbol, 14, False, False)
                            buyCall =self.buyCalls(self.optionsdata, temp.Close.values, percentageBuy, date, symbol, 14, False, True)
                            self.soldCalls.append(sellCall)
                            self.boughtCalls.append(buyCall)
                            transTemp1 = [[buyCall.ID.values, (-1)*buyCall.Last.values*100],[sellCall.ID.values, sellCall.Last.values*100], sellCall.Last.values*100 - buyCall.Last.values*100]
                            callsCapital.append(transTemp1)
                            self.capital = self.capital - buyCall.Last.values*100
                            self.capital = self.capital + sellCall.Last.values*100
                            if(buyCall.Expiration.values > finalD):
                                finalD = buyCall.Expiration.values

                            print( str(sellCall.ID.values) + "Now selling "  + str(sellCall.UnderlyingSymbol.values) + " with an expiration date " + str(sellCall.Expiration.values) + " and a strike price of " + str(sellCall.Strike.values) +" for a premium of " + str(sellCall.Last.values))
                            print("Now buying "  + str(buyCall.UnderlyingSymbol.values) + " with an expiration date " + str(buyCall.Expiration.values) + " and a strike price of " + str(buyCall.Strike.values) +" for a premium of " + str(buyCall.Last.values))

                    if (temp["TradingPoints"].values == "5"):
                        for i in self.boughtCalls:
                            if (i.values.size > 0):
                                if ((i.UnderlyingSymbol.values == symbol) & (i.Strike.values < temp.Close.values)):
                                    for k in range(len(callsCapital)):
                                        for s in range(len(callsCapital)):
                                            if (callsCapital[i][k][0] == i.ID.values):
                                                tempo = callsCapital[i][k][1]
                                                callsCapital[i][k][1] = tempo + (temp.Close.values - i.Strike.values)*100
                                                callsCapital[k][2] += (temp.Close.values - i.Strike.values)*100
                                    self.capital += temp.Close.values - i.Strike.values
                                    #self.boughtCalls.remove(i)
                                    remove_from_array(self.boughtCalls, i.ID.values)
                                    print("Now selling "  + str(i.UnderlyingSymbol.values) + " with an expiration date " + str(i.Expiration.values) + " and a strike price of " + str(i.Strike.values) +" for a premium of " + str(i.Last.values))

            date += timedelta(days=1)
        #print(callsCapital)
        return callsCapital

    #def compare(self, task, exitS, entryD, exitD):
     #   self.buy(task, exitS, entryD, exitD)
      #  self.callinvest(self, symbol, entryD, exitD, percentageBuy, percentageSell)

In [10]:
stock_vs_options("MCO", "2018-05-09", "2018-06-20", "stopFive") # Hier das sollte nur ein Testfall sein. Leider fehlen mir die CSVs

NameError: name 'options' is not defined

In [11]:
class investor:
    def __init__(self, no, capital, stockdata, optionsdata):
        self.no = no
        self.stockdata = stockdata
        self.optionsdata = optionsdata
        self.capital = capital
        self.initial = capital
        self.assetList = {}
        self.symbolCapital = {}
        self.boughtCalls = []
        self.soldCalls = []

    def compete(self, tasklist):
        counter = 1
        workers = {}
        for task in tasklist:
            worker = investor(counter, self.capital, self.stockdata, self.optionsdata)
            worker.buy(task[0], task[1], task[2], task[3])
            workers[counter] = worker.capital - self.capital
            counter += 1
        for w in workers:
            print("Worker with number " + str(w) + " has created a profit of "+ str(workers[w]))


    def stockinvest(self, shareno, symbol, exitS, entryD, exitD):
        entryD = pd.to_datetime(np.datetime64(entryD))
        exitD = pd.to_datetime(np.datetime64(exitD))
        date = entryD
        while (date <= exitD):
            temp = self.stockdata[(self.stockdata.Date == date) & (self.stockdata.UnderlyingSymbol == symbol)]
            if (temp["UnderlyingSymbol"].values.size > 0):
                if ((date >= entryD) & (date < exitD) & (temp["UnderlyingSymbol"].values == symbol)):
                    if ((temp["TradingPoints"].values == "0") | (temp["TradingPoints"].values == "2") | (temp["TradingPoints"].values == "1") | (temp["TradingPoints"].values == "3")):
                        self.capital = self.capital - temp.Close.values*shareno
                        self.assetList[symbol] = self.assetList[symbol] + shareno
                        print("Now buying " + str(shareno) + " Shares of Share " + symbol)
                        self.getAssetList()
                    if (temp["TradingPoints"].values == "4"):
                        self.capital = self.capital + temp.Close.values*round(self.assetList[symbol]*0.5)
                        print("Now selling " + str(round(self.assetList[symbol]*0.5)) + " Shares of Share " + symbol)
                        self.assetList[symbol] -= round(self.assetList[symbol] * 0.5)
                        self.getAssetList()
                    if (temp["TradingPoints"].values == "5"):
                        self.capital = self.capital + temp.Close.values*self.assetList[symbol]
                        self.assetList[symbol] = 0
                        print("Now sold all Shares of Share " + symbol)
                        self.getAssetList()
                        if (exitS == "stopFive"):
                            break
                if ((date == exitD) & (exitS == "sellAll")):
                    self.capital = self.capital + temp.Close.values*self.assetList[symbol]
                    self.assetList[symbol] = 0
                    print("Now sold all Shares")
                    self.getAssetList()
                    break
            date += timedelta(days=1)
        print("The profit that was generated by buying and selling stocks of " + symbol + " amounts to " + str((self.capital-self.symbolCapital[symbol])))


    def buy(self, task, exitS, entryD, exitD):
        for i in task:
            if (i in self.assetList):
                self.assetList[i] += task[i]
                self.stockinvest( task[i], i, exitS, entryD, exitD)
            else:
                self.assetList[i] = 0
                self.symbolCapital[i] = self.capital
                self.stockinvest(task[i], i, exitS, entryD, exitD)
        print("The remaining capital amounts to: " + str(self.capital))
        print("The total profit that was generated in this round amounts to " +str(self.capital - self.initial))

    def getAssetList(self):
        for i in self.assetList:
            print("The worker owns " + str(self.assetList[i]) + " of Asset " + i)

    def optionsPreprocessing(self):
        self.optionsdata.drop(self.optionsdata[self.optionsdata["Type"] == "put"].index, inplace = True)


    def buyCalls(self, df, stockprice, percentage, date, symbol, future, lower, buyer):
        future = pd.to_timedelta(future, "D")
        df = df[df["DataDate"] == date]
        df = df[df["UnderlyingSymbol"] == symbol]
        targetDate = date + future
        strikeTarget = stockprice * (1 + percentage)
        df["buyable"] = True
        df["Index"] = np.arange(0,len(df))
        df["targetDatePossible"] = False
        solution = 0
        checker = False
        while (checker == False):
            counter = 0
            for j,k in df.iterrows():
                if (k.Expiration == targetDate):
                    df.at[j, "targetDatePossible"] = True
                    k.targetDatePossible = True
                    counter += 1
                    if (counter >= 2):
                        checker = True
            if (checker == False):
                if (lower == False):
                    targetDate = targetDate + pd.to_timedelta(1, "D")
                if (lower == True):
                    targetDate = targetDate - pd.to_timedelta(1, "D")
        df = df[df["targetDatePossible"] == True]
        df2 = df.sort_values("Strike", inplace = False)
        df2["Index"] = np.arange(0,len(df2))
        #print("The selected Target Date is now: "  + str(targetDate))
        check = False
        for i in df2["Index"]:
            if((df2[df2["Index"] == i].Strike.values > strikeTarget)):
                if (i == 0):
                    solution = i
                    break;
                val1 = df2[df2["Index"] == i-1].Strike.values
                val2 = df2[df2["Index"] == i].Strike.values
                temp1 = abs(strikeTarget - val1)
                temp2 = abs(strikeTarget - val2)
                check = True
                if ((temp1 < temp2) | (buyer == True)):
                    solution = i-1
                else:
                    solution = i
                break;
        if (check == False):
            val1 = df2[df2["Index"] == len(df2)-2].Strike.values
            val2 = df2[df2["Index"] == len(df2)-1].Strike.values
            temp1 = abs(strikeTarget - val1)
            temp2 = abs(strikeTarget - val2)
            if ((temp1 < temp2) | (buyer == True)):
                solution = len(df2)-2
            else:
                solution = len(df2)-1
        return df2[df2["Index"] == solution]

    def callinvest(self, symbol, entryD, exitD, percentageBuy, percentageSell):
        entryD = pd.to_datetime(np.datetime64(entryD))
        exitD = pd.to_datetime(np.datetime64(exitD))
        date = entryD
        callsCapital = []
        self.optionsdata["ID"] = np.arange(len(self.optionsdata))
        finalD = exitD
        while (date <= finalD):
            print(date)
            temp = self.stockdata[(self.stockdata.Date == date) & (self.stockdata.UnderlyingSymbol == symbol)]
            if (temp["UnderlyingSymbol"].values.size > 0):
                for i in self.boughtCalls:
                    if (i.values.size > 0):
                        if((i.Expiration.values == date) & (i.UnderlyingSymbol.values == symbol)):
                            if(i.Strike.values < temp.Close.values):
                                for k in range(len(callsCapital)):
                                    for s in range(len(callsCapital)):
                                        if (callsCapital[k][s][0] == i.ID.values):
                                            tempo = callsCapital[k][s][1]
                                            callsCapital[k][s][1] = tempo + (temp.Close.values - i.Strike.values)*100
                                            callsCapital[k][2] += (temp.Close.values - i.Strike.values)*100
                                self.capital += temp.Close.values - i.Strike.values
                               # self.boughtCalls.remove(self.boughtCalls[self.boughtCalls["ID"].values == i.ID.values])
                               # print(i)
                                #print(self.boughtCalls[0])
                                remove_from_array(self.boughtCalls, i.ID.values)
                                print("Now selling "  + str(i.UnderlyingSymbol.values) + " with an expiration date " + str(i.Expiration.values) + " and a strike price of " + str(i.Strike.values) +" for a premium of " + str(i.Last.values))
                            else:
                                print("We let the option for the underlying " +  str(i.UnderlyingSymbol.values) + " expire.")

                for i in self.soldCalls:
                    if (i.values.size > 0):
                        if((i.Expiration.values == date) & (i.UnderlyingSymbol.values == symbol)):
                            if(i.Strike.values < temp.Close.values):
                                for k in range(len(callsCapital)):
                                    for s in range(len(callsCapital)):
                                        if (callsCapital[k][s][0] == i.ID.values):
                                            tempo = callsCapital[k][s][1]
                                            callsCapital[k][s][1] = tempo - (temp.Close.values - i.Strike.values)*100
                                            callsCapital[k][2] -= (temp.Close.values - i.Strike.values)*100
                                self.capital += temp.Close.values - i.Strike
                                #self.soldCalls.remove(i.values)
                                remove_from_array(self.soldCalls, i.ID.values)
                                print("Now selling "  + str(i.UnderlyingSymbol.values) + " with an expiration date " + str(i.Expiration.values) + " and a strike price of " + str(i.Strike.values) +" for a premium of " + str(i.Last.values) + " to the Call Holder")
                            else:
                                print("The Call holder lets the option for the underlying " +  str(i.UnderlyingSymbol.values) + " expire.")

                if ((date >= entryD) & (temp["UnderlyingSymbol"].values == symbol)):
                    if ((temp["TradingPoints"].values == "0") | (temp["TradingPoints"].values == "2") | (temp["TradingPoints"].values == "1") | (temp["TradingPoints"].values == "3")):
                        if (date < exitD):
                            sellCall = self.buyCalls(self.optionsdata, temp.Close.values, percentageSell, date, symbol, 14, False, False)
                            buyCall =self.buyCalls(self.optionsdata, temp.Close.values, percentageBuy, date, symbol, 14, False, True)
                            self.soldCalls.append(sellCall)
                            self.boughtCalls.append(buyCall)
                            transTemp1 = [[buyCall.ID.values, (-1)*buyCall.Last.values*100],[sellCall.ID.values, sellCall.Last.values*100], sellCall.Last.values*100 - buyCall.Last.values*100]
                            callsCapital.append(transTemp1)
                            self.capital = self.capital - buyCall.Last.values*100
                            self.capital = self.capital + sellCall.Last.values*100
                            if(buyCall.Expiration.values > finalD):
                                finalD = buyCall.Expiration.values

                            print( str(sellCall.ID.values) + "Now selling "  + str(sellCall.UnderlyingSymbol.values) + " with an expiration date " + str(sellCall.Expiration.values) + " and a strike price of " + str(sellCall.Strike.values) +" for a premium of " + str(sellCall.Last.values))
                            print("Now buying "  + str(buyCall.UnderlyingSymbol.values) + " with an expiration date " + str(buyCall.Expiration.values) + " and a strike price of " + str(buyCall.Strike.values) +" for a premium of " + str(buyCall.Last.values))

                    if (temp["TradingPoints"].values == "5"):
                        for i in self.boughtCalls:
                            if (i.values.size > 0):
                                if ((i.UnderlyingSymbol.values == symbol) & (i.Strike.values < temp.Close.values)):
                                    for k in range(len(callsCapital)):
                                        for s in range(len(callsCapital)):
                                            if (callsCapital[i][k][0] == i.ID.values):
                                                tempo = callsCapital[i][k][1]
                                                callsCapital[i][k][1] = tempo + (temp.Close.values - i.Strike.values)*100
                                                callsCapital[k][2] += (temp.Close.values - i.Strike.values)*100
                                    self.capital += temp.Close.values - i.Strike.values
                                    #self.boughtCalls.remove(i)
                                    remove_from_array(self.boughtCalls, i.ID.values)
                                    print("Now selling "  + str(i.UnderlyingSymbol.values) + " with an expiration date " + str(i.Expiration.values) + " and a strike price of " + str(i.Strike.values) +" for a premium of " + str(i.Last.values))

            date += timedelta(days=1)
        #print(callsCapital)
        return callsCapital

    #def compare(self, task, exitS, entryD, exitD):
     #   self.buy(task, exitS, entryD, exitD)
      #  self.callinvest(self, symbol, entryD, exitD, percentageBuy, percentageSell)

In [12]:
mco = pd.read_csv("../Data/MCO.csv", index_col = "Date", parse_dates = True)
nee = pd.read_csv("../Data/NEE.csv", index_col = "Date", parse_dates = True)
rf = pd.read_csv("../Data/RF.csv", index_col = "Date", parse_dates = True)
tfc = pd.read_csv("../Data/TFC.csv", index_col = "Date", parse_dates = True)
txn = pd.read_csv("../Data/TXN.csv", index_col = "Date", parse_dates = True)

NameError: name 'pd' is not defined

In [13]:
mco.reset_index(inplace = True)
mco.drop(columns = ["Unnamed: 0"], inplace = True)
mco["UnderlyingSymbol"] = "MCO"

nee.reset_index(inplace = True)
nee.drop(columns = ["Unnamed: 0"], inplace = True)
nee["UnderlyingSymbol"] = "NEE"

rf.reset_index(inplace = True)
rf.drop(columns = ["Unnamed: 0"], inplace = True)
rf["UnderlyingSymbol"] = "RF"

tfc.reset_index(inplace = True)
tfc.drop(columns = ["Unnamed: 0"], inplace = True)
tfc["UnderlyingSymbol"] = "TFC"

txn.reset_index(inplace = True)
txn.drop(columns = ["Unnamed: 0"], inplace = True)
txn["UnderlyingSymbol"] = "TXN"

NameError: name 'mco' is not defined

In [14]:
lists = [mco, nee, rf, tfc, txn]
symbols = pd.concat(lists)
symbols.sort_values("Date", inplace = True)

NameError: name 'mco' is not defined

In [7]:
symbols.head(100)

,Date,Open,High,Low,Close,ADXTR1,ADXPDM1,ADXMDM1,ADXPDI,ADXMDI,...,VSCP,RSI,PPO,TradingPoints,ADXCP,ADX,ADXcrossinglevel,DILevel,PercentProfitOrLoss,UnderlyingSymbol
0,2013-10-14,33.57,33.87,33.53,33.82,0.34,0.03,0.00,19.983579,28.186531,...,default value,45.512881,-0.380184,default value,default value,default value,default value,default value,default value,TFC
1,2013-10-15,33.77,33.83,33.47,33.53,0.36,0.00,0.06,18.947237,27.589115,...,default value,42.161627,-0.290270,default value,default value,default value,default value,default value,default value,TFC
2,2013-10-16,33.82,34.36,33.68,34.22,0.83,0.53,0.00,24.070102,24.441908,...,1,51.342048,-0.085328,default value,default value,default value,default value,default value,default value,TFC
3,2013-10-17,33.76,34.24,33.35,34.00,0.89,0.00,0.33,21.268418,25.912786,...,default value,48.688475,0.008717,default value,default value,default value,default value,default value,default value,TFC
0,2013-10-17,40.28,40.72,40.09,40.65,0.66,0.00,0.00,17.421379,20.642256,...,default value,61.088179,0.190242,default value,default value,default value,default value,default value,default value,TXN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2013-11-14,9.72,9.82,9.64,9.81,0.18,0.11,0.00,22.486448,17.681589,...,default value,56.862232,0.216363,default value,default value,default value,default value,default value,default value,RF
17,2013-11-14,86.54,87.77,86.29,87.50,1.67,1.65,0.00,28.656711,20.764891,...,default value,61.418911,-0.202652,default value,default value,default value,default value,default value,default value,NEE
20,2013-11-14,42.23,42.75,42.21,42.63,0.54,0.34,0.00,26.435834,15.327243,...,default value,67.772147,0.116450,default value,default value,default value,default value,default value,default value,TXN
17,2013-11-14,69.98,74.04,69.98,73.94,4.06,0.00,2.12,15.075206,27.302720,...,default value,61.413864,0.105269,default value,default value,default value,default value,default value,default value,MCO
18,2013-11-15,74.28,75.07,74.03,75.05,1.13,1.03,0.00,18.977926,25.902069,...,default value,65.382713,0.231030,default value,default value,default value,default value,default value,default value,MCO

,Date,Open,High,Low,Close,TradingPoints,UnderlyingSymbol
0,2013-10-14,33.57,33.87,33.53,33.82,default value,TFC
1,2013-10-15,33.77,33.83,33.47,33.53,default value,TFC
2,2013-10-16,33.82,34.36,33.68,34.22,default value,TFC
3,2013-10-17,33.76,34.24,33.35,34.00,default value,TFC
0,2013-10-17,40.28,40.72,40.09,40.65,default value,TXN
...,...,...,...,...,...,...,...
1500,2019-09-30,15.98,16.05,15.81,15.82,default value,RF
1500,2019-09-30,232.02,233.45,231.75,232.99,default value,NEE
1500,2019-09-30,205.00,207.95,204.48,204.83,1,MCO
1500,2019-09-30,53.77,53.82,53.24,53.37,default value,TFC
1500,2019-09-30,127.69,129.40,127.57,129.24,default value,TXN

In [10]:
import os
import glob
#os.chdir("/Users/Bjorn/Desktop/Master/Schoder Seminar/Paper/Datenanalyse/Data/Options/Collection")

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
#combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [8]:
options = pd.read_csv("/Users/Bjorn/Desktop/Master/Schoder Seminar/Paper/Datenanalyse/Data/combined_csv.csv")

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [14]:
options_reduced = combined_csv[(combined_csv["UnderlyingSymbol"] == "MCO") | (combined_csv["UnderlyingSymbol"] == "TXN") | (combined_csv["UnderlyingSymbol"] == "NEE") | (combined_csv["UnderlyingSymbol"] == "TFC") | (combined_csv["UnderlyingSymbol"] == "RF")]

In [15]:
options_reduced.to_csv("options_reduced.csv", index=False, encoding='utf-8-sig')

In [135]:
options_reduced.head()

,UnderlyingSymbol,UnderlyingPrice,Exchange,OptionRoot,OptionExt,Type,Expiration,DataDate,Strike,Last,Bid,Ask,Volume,OpenInterest,T1OpenInterest
480647,MCO,185.72,*,MCO180817C00085000,NaN,call,08/17/2018,07/26/2018,85.0,0.00,98.6,102.70,0,0,0
480648,MCO,185.72,*,MCO180817P00085000,NaN,put,08/17/2018,07/26/2018,85.0,0.25,0.0,0.12,0,6,6
480649,MCO,185.72,*,MCO180817C00090000,NaN,call,08/17/2018,07/26/2018,90.0,0.00,93.5,98.05,0,0,0
480650,MCO,185.72,*,MCO180817P00090000,NaN,put,08/17/2018,07/26/2018,90.0,0.00,0.0,0.10,0,0,0
480651,MCO,185.72,*,MCO180817C00095000,NaN,call,08/17/2018,07/26/2018,95.0,0.00,88.5,93.05,0,0,0

In [9]:
options = pd.read_csv("/Users/Bjorn/Desktop/Master/Schoder Seminar/Paper/Datenanalyse/Data/Options/Collection/options_reduced.csv", parse_dates =["Expiration", "DataDate"])

In [20]:
options[options["OptionRoot"] == "MCO180615C00185000"]

,UnderlyingSymbol,UnderlyingPrice,Exchange,OptionRoot,OptionExt,Type,Expiration,DataDate,Strike,Last,Bid,Ask,Volume,OpenInterest,T1OpenInterest
1600,MCO,172.52,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-18,185.0,0.39,0.05,0.22,0,5,5
3078,MCO,173.42,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-30,185.0,0.15,0.06,0.13,0,11,11
4552,MCO,173.95,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-24,185.0,0.25,0.12,0.22,0,6,6
6082,MCO,174.03,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-25,185.0,0.15,0.10,0.18,5,6,0
7612,MCO,170.57,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-31,185.0,0.15,0.00,0.22,0,11,0
20952,MCO,174.36,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-22,185.0,0.25,0.22,0.28,2,5,6
22412,MCO,174.05,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-23,185.0,0.25,0.15,0.25,0,6,6
26800,MCO,175.09,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-21,185.0,0.39,0.24,0.37,0,5,5
28310,MCO,170.55,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-09,185.0,0.25,0.18,0.26,5,1,5
29800,MCO,167.89,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-08,185.0,0.51,0.10,0.20,0,1,1
41632,MCO,179.21,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-08,185.0,0.05,0.02,0.10,0,1,1
44804,MCO,175.23,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-04,185.0,0.15,0.00,0.09,0,11,11
46284,MCO,177.82,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-11,185.0,0.05,0.00,0.19,0,1,1
47796,MCO,176.22,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-05,185.0,0.05,0.00,0.15,10,11,1
49300,MCO,176.87,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-13,185.0,0.05,0.00,0.05,0,1,1
50812,MCO,177.76,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-07,185.0,0.05,0.02,0.11,0,1,1
52412,MCO,178.31,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-06,185.0,0.05,0.04,0.21,0,1,1
53930,MCO,178.05,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-12,185.0,0.05,0.00,0.16,0,1,1
55442,MCO,172.96,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-01,185.0,0.15,0.00,0.13,0,11,11
57022,MCO,176.80,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-15,185.0,0.05,0.00,0.04,0,1,0
61692,MCO,175.93,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-14,185.0,0.05,0.00,0.05,0,1,1
64842,MCO,174.05,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-11,185.0,0.43,0.42,0.55,0,5,5
66416,MCO,166.31,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-04,185.0,0.51,0.04,0.18,0,1,1
67992,MCO,173.78,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-10,185.0,0.43,0.38,0.51,1,5,5
74182,MCO,167.39,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-07,185.0,0.51,0.09,0.20,0,1,1
78728,MCO,163.12,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-03,185.0,0.51,0.05,0.15,0,1,1
80278,MCO,171.54,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-17,185.0,0.39,0.12,0.27,1,5,5
81796,MCO,172.24,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-16,185.0,0.43,0.14,0.52,0,5,5
83296,MCO,162.71,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-02,185.0,0.51,0.00,0.39,0,1,1
87742,MCO,172.00,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-14,185.0,0.43,0.25,0.39,0,5,5
89164,MCO,170.81,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-29,185.0,0.15,0.04,0.11,0,11,11
90688,MCO,164.16,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-01,185.0,0.51,0.07,0.17,0,1,1
92164,MCO,170.89,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-15,185.0,0.43,0.19,0.33,0,5,5

In [166]:
tester = investor(1, 10000, symbols, options)

In [167]:
tester.buy({"MCO": 2, "TXN":10}, "stopFive", "2018-05-10", "2018-05-20")

Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
Now sold all Shares of Share MCO
The worker owns 0 of Asset MCO
The profit that was generated by buying and selling stocks of MCO amounts to [-1.51]
Now buying 10 Shares of Share TXN
The worker owns 0 of Asset MCO
The worker owns 10 of Asset TXN
Now selling 5 Shares of Share TXN
The worker owns 0 of Asset MCO
The worker owns 5 of Asset TXN
The profit that was generated by buying and selling stocks of TXN amounts to [-539.3]
The remaining capital amounts to: [9459.19]
The total profit that was generated in this round amounts to [-540.81]

In [169]:
tester2 = investor(1, 1000, symbols, options)
tester2.compete([[{"MCO": 2, "NEE": 2, "TFC": 5}, "", "2018-05-02", "2018-06-20"], [{"NEE": 2}, "", "2018-05-10", "2018-05-20"]])

Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
Now sold all Shares of Share MCO
The worker owns 0 of Asset MCO
Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
Now sold all Shares of Share MCO
The worker owns 0 of Asset MCO
Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
The profit that was generated by buying and selling stocks of MCO amounts to [-189.42]
Now buying 2 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
Now sold all Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 0 of Asset NEE
Now buying 2 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
Now sold all Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 0 of Asset NEE
Now buying 2 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The profit that was generated by buying and selling stocks of NEE amounts to [-150.61]
Now buying 5 Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 5 of Asset TFC
Now selling 2 Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 3 of Asset TFC
Now buying 5 Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 8 of Asset TFC
Now selling 4 Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 4 of Asset TFC
Now sold all Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 0 of Asset TFC
Now buying 5 Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 5 of Asset TFC
Now selling 2 Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 3 of Asset TFC
Now sold all Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 0 of Asset TFC
Now buying 5 Shares of Share TFC
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The worker owns 5 of Asset TFC
The profit that was generated by buying and selling stocks of TFC amounts to [-260.05]
The remaining capital amounts to: [399.92]
The total profit that was generated in this round amounts to [-600.08]
Now buying 2 Shares of Share NEE
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset NEE
The profit that was generated by buying and selling stocks of NEE amounts to [-157.92]
The remaining capital amounts to: [842.08]
The total profit that was generated in this round amounts to [-157.92]
Worker with number 1 has created a profit of [-600.08]
Worker with number 2 has created a profit of [-157.92]

In [22]:
options.drop(options[options["Type"] == "put"].index, inplace = True)
optionsdrop = options.drop(options[options["Last"] == 0].index)
options[options["OptionRoot"] == "MCO180615C00185000"]

,UnderlyingSymbol,UnderlyingPrice,Exchange,OptionRoot,OptionExt,Type,Expiration,DataDate,Strike,Last,Bid,Ask,Volume,OpenInterest,T1OpenInterest
1600,MCO,172.52,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-18,185.0,0.39,0.05,0.22,0,5,5
3078,MCO,173.42,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-30,185.0,0.15,0.06,0.13,0,11,11
4552,MCO,173.95,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-24,185.0,0.25,0.12,0.22,0,6,6
6082,MCO,174.03,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-25,185.0,0.15,0.10,0.18,5,6,0
7612,MCO,170.57,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-31,185.0,0.15,0.00,0.22,0,11,0
20952,MCO,174.36,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-22,185.0,0.25,0.22,0.28,2,5,6
22412,MCO,174.05,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-23,185.0,0.25,0.15,0.25,0,6,6
26800,MCO,175.09,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-21,185.0,0.39,0.24,0.37,0,5,5
28310,MCO,170.55,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-09,185.0,0.25,0.18,0.26,5,1,5
29800,MCO,167.89,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-08,185.0,0.51,0.10,0.20,0,1,1
41632,MCO,179.21,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-08,185.0,0.05,0.02,0.10,0,1,1
44804,MCO,175.23,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-04,185.0,0.15,0.00,0.09,0,11,11
46284,MCO,177.82,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-11,185.0,0.05,0.00,0.19,0,1,1
47796,MCO,176.22,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-05,185.0,0.05,0.00,0.15,10,11,1
49300,MCO,176.87,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-13,185.0,0.05,0.00,0.05,0,1,1
50812,MCO,177.76,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-07,185.0,0.05,0.02,0.11,0,1,1
52412,MCO,178.31,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-06,185.0,0.05,0.04,0.21,0,1,1
53930,MCO,178.05,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-12,185.0,0.05,0.00,0.16,0,1,1
55442,MCO,172.96,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-01,185.0,0.15,0.00,0.13,0,11,11
57022,MCO,176.80,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-15,185.0,0.05,0.00,0.04,0,1,0
61692,MCO,175.93,*,MCO180615C00185000,NaN,call,2018-06-15,2018-06-14,185.0,0.05,0.00,0.05,0,1,1
64842,MCO,174.05,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-11,185.0,0.43,0.42,0.55,0,5,5
66416,MCO,166.31,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-04,185.0,0.51,0.04,0.18,0,1,1
67992,MCO,173.78,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-10,185.0,0.43,0.38,0.51,1,5,5
74182,MCO,167.39,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-07,185.0,0.51,0.09,0.20,0,1,1
78728,MCO,163.12,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-03,185.0,0.51,0.05,0.15,0,1,1
80278,MCO,171.54,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-17,185.0,0.39,0.12,0.27,1,5,5
81796,MCO,172.24,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-16,185.0,0.43,0.14,0.52,0,5,5
83296,MCO,162.71,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-02,185.0,0.51,0.00,0.39,0,1,1
87742,MCO,172.00,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-14,185.0,0.43,0.25,0.39,0,5,5
89164,MCO,170.81,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-29,185.0,0.15,0.04,0.11,0,11,11
90688,MCO,164.16,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-01,185.0,0.51,0.07,0.17,0,1,1
92164,MCO,170.89,*,MCO180615C00185000,NaN,call,2018-06-15,2018-05-15,185.0,0.43,0.19,0.33,0,5,5

In [65]:
investor2 = investor(1, 100000000, symbols, optionsdrop)
investor2.callinvest("MCO","2018-05-09", "2018-06-20", 0.1, 0.2)

2018-05-09 00:00:00
2018-05-10 00:00:00
[21039]Now selling ['MCO'] with an expiration date ['2018-06-15T00:00:00.000000000'] and a strike price of [185.] for a premium of [0.43]
Now buying ['MCO'] with an expiration date ['2018-06-15T00:00:00.000000000'] and a strike price of [180.] for a premium of [1.23]
2018-05-11 00:00:00
2018-05-12 00:00:00
2018-05-13 00:00:00
2018-05-14 00:00:00
2018-05-15 00:00:00
2018-05-16 00:00:00
2018-05-17 00:00:00
2018-05-18 00:00:00
2018-05-19 00:00:00
2018-05-20 00:00:00
2018-05-21 00:00:00
[8400]Now selling ['MCO'] with an expiration date ['2018-06-15T00:00:00.000000000'] and a strike price of [185.] for a premium of [0.39]
Now buying ['MCO'] with an expiration date ['2018-06-15T00:00:00.000000000'] and a strike price of [180.] for a premium of [0.69]
2018-05-22 00:00:00
2018-05-23 00:00:00
2018-05-24 00:00:00
2018-05-25 00:00:00
2018-05-26 00:00:00
2018-05-27 00:00:00
2018-05-28 00:00:00
2018-05-29 00:00:00
2018-05-30 00:00:00
2018-05-31 00:00:00
2018-06-01 00:00:00
2018-06-02 00:00:00
2018-06-03 00:00:00
2018-06-04 00:00:00
2018-06-05 00:00:00
2018-06-06 00:00:00
2018-06-07 00:00:00
2018-06-08 00:00:00
[12994]Now selling ['MCO'] with an expiration date ['2018-07-20T00:00:00.000000000'] and a strike price of [190.] for a premium of [0.62]
Now buying ['MCO'] with an expiration date ['2018-07-20T00:00:00.000000000'] and a strike price of [185.] for a premium of [1.75]
2018-06-09 00:00:00
2018-06-10 00:00:00
2018-06-11 00:00:00
2018-06-12 00:00:00
2018-06-13 00:00:00
2018-06-14 00:00:00
2018-06-15 00:00:00
We let the option for the underlying ['MCO'] expire.
We let the option for the underlying ['MCO'] expire.
The Call holder lets the option for the underlying ['MCO'] expire.
The Call holder lets the option for the underlying ['MCO'] expire.
2018-06-16 00:00:00
2018-06-17 00:00:00
2018-06-18 00:00:00
2018-06-19 00:00:00
2018-06-20 00:00:00
2018-06-21 00:00:00
2018-06-22 00:00:00
2018-06-23 00:00:00
2018-06-24 00:00:00
2018-06-25 00:00:00
2018-06-26 00:00:00
2018-06-27 00:00:00
2018-06-28 00:00:00
2018-06-29 00:00:00
2018-06-30 00:00:00
2018-07-01 00:00:00
2018-07-02 00:00:00
2018-07-03 00:00:00
2018-07-04 00:00:00
2018-07-05 00:00:00
2018-07-06 00:00:00
2018-07-07 00:00:00
2018-07-08 00:00:00
2018-07-09 00:00:00
2018-07-10 00:00:00
2018-07-11 00:00:00
2018-07-12 00:00:00
2018-07-13 00:00:00
2018-07-14 00:00:00
2018-07-15 00:00:00
2018-07-16 00:00:00
2018-07-17 00:00:00
2018-07-18 00:00:00
2018-07-19 00:00:00
2018-07-20 00:00:00
Now selling ['MCO'] with an expiration date ['2018-07-20T00:00:00.000000000'] and a strike price of [185.] for a premium of [1.75]
The Call holder lets the option for the underlying ['MCO'] expire.

[[[array([21038]), array([-123.])],
  [array([21039]), array([43.])],
  array([-80.])],
 [[array([8399]), array([-69.])],
  [array([8400]), array([39.])],
  array([-30.])],
 [[array([12993]), array([-133.])],
  [array([12994]), array([62.])],
  array([-71.])]]