In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [38]:
class investor:
    def __init__(self, no, capital, entryD, exitD):
        self.no = no
        self.capital = capital
        self.initial = capital
        self.entryD = entryD
        self.exitD = exitD
        self.assetList = {}
        self.entryD = pd.to_datetime(np.datetime64(entryD))
        self.exitD = pd.to_datetime(np.datetime64(exitD))
        # i : 0 for i in self.asset
    def work(self, df, shareno, symbol):
        for date in df["Date"]:
            temp = df[(df.Date == date) & (df.UnderlyingSymbol == symbol)]
            #print(temp["UnderlyingSymbol"].values == symbol)
            if ((date >= self.entryD) & (date <= self.exitD) & (temp["UnderlyingSymbol"].values == symbol)):
                #temp = df[(df.Date == date) & (df.UnderlyingSymbol == symbol)]
                if ((temp["TradingPoints"].values == "0") | (temp["TradingPoints"].values == "2") | (temp["TradingPoints"].values == "1") | (temp["TradingPoints"].values == "3")):
                    self.capital = self.capital - temp.Close.values*shareno
                    self.assetList[symbol] = self.assetList[symbol] + shareno
                    print("Now buying " + str(shareno) + " Shares")
                    self.getAssetList()
                if (temp["TradingPoints"].values == "4"):
                    self.capital = self.capital + temp.Close.values*round(self.assetList[symbol]*0.5)
                    print("Now selling " + str(round(self.assetList[symbol]*0.5)) + " Shares")
                    self.assetList[symbol] -= round(self.assetList[symbol] * 0.5)
                    self.getAssetList()
                if (temp["TradingPoints"].values == "5"):
                    self.capital = self.capital + temp.Close.values*self.assetList[symbol]
                    self.assetList[symbol] = 0
                    print("Now sold all Shares")
                    self.getAssetList()
        print((self.capital-self.initial))


    def buy(self, df, task):
        for i in task:
            if (i in self.assetList):
                self.assetList[i] += task[i]
                self.work(df, task[i], i)
            else:
                self.assetList[i] = 0
                self.work(df, task[i], i)
        print(self.capital)

    def getAssetList(self):
        for i in self.assetList:
            print("The worker owns " + str(self.assetList[i]) + " of Asset " + i)

In [212]:
# if(temp["UnderlyingSymbol"].values == symbol):

In [3]:
mco = pd.read_csv("../Data/MCO.csv", index_col = "Date", parse_dates = True)
nee = pd.read_csv("../Data/NEE.csv", index_col = "Date", parse_dates = True)
rf = pd.read_csv("../Data/RF.csv", index_col = "Date", parse_dates = True)
tfc = pd.read_csv("../Data/TFC.csv", index_col = "Date", parse_dates = True)
txn = pd.read_csv("../Data/TXN.csv", index_col = "Date", parse_dates = True)

In [4]:
mco.reset_index(inplace = True)
mco.drop(columns = ["Unnamed: 0"], inplace = True)
mco["UnderlyingSymbol"] = "MCO"

nee.reset_index(inplace = True)
nee.drop(columns = ["Unnamed: 0"], inplace = True)
nee["UnderlyingSymbol"] = "NEE"

rf.reset_index(inplace = True)
rf.drop(columns = ["Unnamed: 0"], inplace = True)
rf["UnderlyingSymbol"] = "RF"

tfc.reset_index(inplace = True)
tfc.drop(columns = ["Unnamed: 0"], inplace = True)
tfc["UnderlyingSymbol"] = "TFC"

txn.reset_index(inplace = True)
txn.drop(columns = ["Unnamed: 0"], inplace = True)
txn["UnderlyingSymbol"] = "TXN"

In [5]:
lists = [mco, nee, rf, tfc, txn]
symbols = pd.concat(lists)
symbols.sort_values("Date", inplace = True)

In [6]:
#symbols = symbols[symbols["Date"] == pd.to_datetime(np.datetime64("2018-05-08"))]
#temp = symbols[symbols["UnderlyingSymbol"] == "MCO"]
#temp["UnderlyingSymbol"].values[0]

In [17]:
mco = mco[(mco["Date"] >= np.datetime64("2018-05-01", "ns")) & (mco["Date"] <= np.datetime64('2018-07-05', "ns"))]

In [7]:
symbols_e = symbols[(symbols["Date"] >= np.datetime64("2018-05-01", "ns")) & (symbols["Date"] <= np.datetime64('2018-07-05', "ns"))]

In [8]:
symbols_e.head()

,Date,Open,High,Low,Close,ADXTR1,ADXPDM1,ADXMDM1,ADXPDI,ADXMDI,...,VSCP,RSI,PPO,TradingPoints,ADXCP,ADX,ADXcrossinglevel,DILevel,PercentProfitOrLoss,UnderlyingSymbol
1144,2018-05-01,101.10,103.47,100.70,103.40,2.77,0.0,0.63,15.687524,21.523400,...,default value,51.114299,0.277841,default value,default value,default value,default value,default value,default value,TXN
1144,2018-05-01,52.68,53.29,52.26,53.07,1.03,0.0,0.53,20.117194,24.308521,...,default value,51.300441,0.316259,default value,default value,default value,default value,default value,default value,TFC
1144,2018-05-01,163.69,163.75,162.77,163.22,1.14,0.0,1.03,23.827416,14.611838,...,default value,56.217536,-0.017427,default value,default value,default value,default value,default value,default value,NEE
1144,2018-05-01,161.48,164.39,160.77,164.16,3.62,0.0,1.41,13.723687,22.716685,...,default value,52.077634,0.029764,default value,default value,default value,default value,default value,default value,MCO
1144,2018-05-01,18.65,18.83,18.45,18.75,0.38,0.0,0.25,20.128775,18.574080,...,default value,50.383092,0.338693,default value,default value,default value,default value,default value,default value,RF

In [39]:
tester = investor(1, 10000, "2018-05-08", "2018-05-30")

In [40]:
#tester.work(symbols_e, 8, "TFC")
tester.buy( symbols_e, {"MCO": 10, "RF": 5})
tester.getAssetList()

Now buying 10 Shares
The worker owns 10 of Asset MCO
Now buying 10 Shares
The worker owns 20 of Asset MCO
Now buying 10 Shares
The worker owns 30 of Asset MCO
Now buying 10 Shares
The worker owns 40 of Asset MCO
Now buying 10 Shares
The worker owns 50 of Asset MCO
Now selling 25 Shares
The worker owns 25 of Asset MCO
Now selling 12 Shares
The worker owns 13 of Asset MCO
Now selling 6 Shares
The worker owns 7 of Asset MCO
Now selling 4 Shares
The worker owns 3 of Asset MCO
Now selling 2 Shares
The worker owns 1 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now buying 10 Shares
The worker owns 10 of Asset MCO
Now buying 10 Shares
The worker owns 20 of Asset MCO
Now buying 10 Shares
The worker owns 30 of Asset MCO
Now buying 10 Shares
The worker owns 40 of Asset MCO
Now buying 10 Shares
The worker owns 50 of Asset MCO
Now selling 25 Shares
The worker owns 25 of Asset MCO
Now selling 12 Shares
The worker owns 13 of Asset MCO
Now selling 6 Shares
The worker owns 7 of Asset MCO
Now selling 4 Shares
The worker owns 3 of Asset MCO
Now selling 2 Shares
The worker owns 1 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
Now sold all Shares
The worker owns 0 of Asset MCO
[-48.69]
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 5 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 10 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 15 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 20 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 25 of Asset RF
Now selling 12 Shares
The worker owns 0 of Asset MCO
The worker owns 13 of Asset RF
Now selling 6 Shares
The worker owns 0 of Asset MCO
The worker owns 7 of Asset RF
Now selling 4 Shares
The worker owns 0 of Asset MCO
The worker owns 3 of Asset RF
Now selling 2 Shares
The worker owns 0 of Asset MCO
The worker owns 1 of Asset RF
Now selling 0 Shares
The worker owns 0 of Asset MCO
The worker owns 1 of Asset RF
Now sold all Shares
The worker owns 0 of Asset MCO
The worker owns 0 of Asset RF
Now sold all Shares
The worker owns 0 of Asset MCO
The worker owns 0 of Asset RF
Now sold all Shares
The worker owns 0 of Asset MCO
The worker owns 0 of Asset RF
Now sold all Shares
The worker owns 0 of Asset MCO
The worker owns 0 of Asset RF
Now sold all Shares
The worker owns 0 of Asset MCO
The worker owns 0 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 5 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 10 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 15 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 20 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 25 of Asset RF
Now selling 12 Shares
The worker owns 0 of Asset MCO
The worker owns 13 of Asset RF
Now selling 6 Shares
The worker owns 0 of Asset MCO
The worker owns 7 of Asset RF
Now selling 4 Shares
The worker owns 0 of Asset MCO
The worker owns 3 of Asset RF
Now selling 2 Shares
The worker owns 0 of Asset MCO
The worker owns 1 of Asset RF
Now selling 0 Shares
The worker owns 0 of Asset MCO
The worker owns 1 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 6 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 11 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 16 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 21 of Asset RF
Now buying 5 Shares
The worker owns 0 of Asset MCO
The worker owns 26 of Asset RF
[-535.77]
[9464.23]
The worker owns 0 of Asset MCO
The worker owns 26 of Asset RF

In [25]:
optex = pd.read_csv("Data/optex.csv")

In [26]:
optex.head()

,UnderlyingSymbol,UnderlyingPrice,Exchange,OptionRoot,OptionExt,Type,Expiration,DataDate,Strike,Last,Bid,Ask,Volume,OpenInterest,T1OpenInterest
0,A,62.78,*,A180615C00050000,NaN,call,06/15/2018,06/01/2018,50.0,12.00,12.80,12.95,0,5,5
1,A,62.78,*,A180615P00050000,NaN,put,06/15/2018,06/01/2018,50.0,0.01,0.00,0.03,0,1,1
2,A,62.78,*,A180615C00055000,NaN,call,06/15/2018,06/01/2018,55.0,0.00,7.70,9.45,0,0,0
3,A,62.78,*,A180615P00055000,NaN,put,06/15/2018,06/01/2018,55.0,0.09,0.02,0.09,0,126,126
4,A,62.78,*,A180615C00057500,NaN,call,06/15/2018,06/01/2018,57.5,5.15,5.20,5.60,0,19,19

In [27]:
optex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898316 entries, 0 to 898315
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   UnderlyingSymbol  898316 non-null  object
 1   UnderlyingPrice   898316 non-null  float64
 2   Exchange          898316 non-null  object
 3   OptionRoot        898316 non-null  object
 4   OptionExt         0 non-null       float64
 5   Type              898316 non-null  object
 6   Expiration        898316 non-null  object
 7   DataDate          898316 non-null  object
 8   Strike            898316 non-null  float64
 9   Last              898316 non-null  float64
 10  Bid               898316 non-null  float64
 11  Ask               898316 non-null  float64
 12  Volume            898316 non-null  int64
 13  OpenInterest      898316 non-null  int64
 14  T1OpenInterest    898316 non-null  int64
dtypes: float64(6), int64(3), object(6)
memory usage: 102.8+ MB

In [28]:
optex["UnderlyingSymbol"].unique()

array(['A', 'AA', 'AABA', ..., 'ZUO', 'ZX', 'ZYNE'], dtype=object)

In [35]:
optexScoped = optex[(optex["UnderlyingSymbol"] == "MCO") & (optex["Type"] == "call")]

In [1]:
optexScoped

NameError: name 'optexScoped' is not defined