In [43]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [118]:
class investor:
    def __init__(self, no, capital):
        self.no = no
        self.capital = capital
        self.initial = capital
        self.assetList = {}
        self.symbolCapital = {}
    def stockinvest(self, df, shareno, symbol, exitS, entryD, exitD):
        entryD = pd.to_datetime(np.datetime64(entryD))
        exitD = pd.to_datetime(np.datetime64(exitD))
        date = entryD
        while (date <= exitD):
        #for date in df["Date"]:
            temp = df[(df.Date == date) & (df.UnderlyingSymbol == symbol)]
            #print(temp["UnderlyingSymbol"].values == symbol)
            if (temp["UnderlyingSymbol"].values.size > 0):
                if ((date >= entryD) & (date < exitD) & (temp["UnderlyingSymbol"].values == symbol)):
                    if ((temp["TradingPoints"].values == "0") | (temp["TradingPoints"].values == "2") | (temp["TradingPoints"].values == "1") | (temp["TradingPoints"].values == "3")):
                        self.capital = self.capital - temp.Close.values*shareno
                        self.assetList[symbol] = self.assetList[symbol] + shareno
                        print("Now buying " + str(shareno) + " Shares of Share " + symbol)
                        self.getAssetList()
                    if (temp["TradingPoints"].values == "4"):
                        self.capital = self.capital + temp.Close.values*round(self.assetList[symbol]*0.5)
                        print("Now selling " + str(round(self.assetList[symbol]*0.5)) + " Shares of Share " + symbol)
                        self.assetList[symbol] -= round(self.assetList[symbol] * 0.5)
                        self.getAssetList()
                    if (temp["TradingPoints"].values == "5"):
                        self.capital = self.capital + temp.Close.values*self.assetList[symbol]
                        self.assetList[symbol] = 0
                        print("Now sold all Shares of Share " + symbol)
                        self.getAssetList()
                        if (exitS == "stopFive"):
                            break
                if ((date == exitD) & (exitS == "sellAll")):
                    self.capital = self.capital + temp.Close.values*self.assetList[symbol]
                    self.assetList[symbol] = 0
                    print("Now sold all Shares")
                    self.getAssetList()
                    break
            date += timedelta(days=1)
        print("The profit that was generated by buying and selling stocks of " + symbol + " amounts to " + str((self.capital-self.symbolCapital[symbol])))


    def buy(self, df, task, exitS, entryD, exitD):
        for i in task:
            if (i in self.assetList):
                self.assetList[i] += task[i]
                self.stockinvest(df, task[i], i, exitS, entryD, exitD)
            else:
                self.assetList[i] = 0
                self.symbolCapital[i] = self.capital
                self.stockinvest(df, task[i], i, exitS, entryD, exitD)
        print("The remaining capital amounts to: " + str(self.capital))
        print("The total profit that was generated in this round amounts to " +str(self.capital - self.initial))

    def getAssetList(self):
        for i in self.assetList:
            print("The worker owns " + str(self.assetList[i]) + " of Asset " + i)

In [131]:
#[[{"MCO": 2}, "stopFiv", "2018-05-10", "2018-05-20"]]
def compete(data, capital, tasklist):
    counter = 1
    workers = {}
    for task in tasklist:
        worker = investor(counter, capital)
        worker.buy(data, task[0], task[1], task[2], task[3])
        workers[counter] = worker.capital - capital
        counter += 1
    for w in workers:
        print("Worker with number " + str(w) + " has created a profit of "+ str(workers[w]))

In [212]:
mco = pd.read_csv("../Data/MCO.csv", index_col = "Date", parse_dates = True)
nee = pd.read_csv("../Data/NEE.csv", index_col = "Date", parse_dates = True)
rf = pd.read_csv("../Data/RF.csv", index_col = "Date", parse_dates = True)
tfc = pd.read_csv("../Data/TFC.csv", index_col = "Date", parse_dates = True)
txn = pd.read_csv("../Data/TXN.csv", index_col = "Date", parse_dates = True)

In [46]:
mco.reset_index(inplace = True)
mco.drop(columns = ["Unnamed: 0"], inplace = True)
mco["UnderlyingSymbol"] = "MCO"

nee.reset_index(inplace = True)
nee.drop(columns = ["Unnamed: 0"], inplace = True)
nee["UnderlyingSymbol"] = "NEE"

rf.reset_index(inplace = True)
rf.drop(columns = ["Unnamed: 0"], inplace = True)
rf["UnderlyingSymbol"] = "RF"

tfc.reset_index(inplace = True)
tfc.drop(columns = ["Unnamed: 0"], inplace = True)
tfc["UnderlyingSymbol"] = "TFC"

txn.reset_index(inplace = True)
txn.drop(columns = ["Unnamed: 0"], inplace = True)
txn["UnderlyingSymbol"] = "TXN"

In [47]:
lists = [mco, nee, rf, tfc, txn]
symbols = pd.concat(lists)
symbols.sort_values("Date", inplace = True)

In [133]:
symbols_e = symbols[(symbols["Date"] >= np.datetime64("2018-05-01", "ns")) & (symbols["Date"] <= np.datetime64('2018-07-01', "ns"))]

In [134]:
symbols_e

,Date,Open,High,Low,Close,ADXTR1,ADXPDM1,ADXMDM1,ADXPDI,ADXMDI,...,VSCP,RSI,PPO,TradingPoints,ADXCP,ADX,ADXcrossinglevel,DILevel,PercentProfitOrLoss,UnderlyingSymbol
1144,2018-05-01,101.10,103.47,100.70,103.40,2.77,0.00,0.63,15.687524,21.523400,...,default value,51.114299,0.277841,default value,default value,default value,default value,default value,default value,TXN
1144,2018-05-01,52.68,53.29,52.26,53.07,1.03,0.00,0.53,20.117194,24.308521,...,default value,51.300441,0.316259,default value,default value,default value,default value,default value,default value,TFC
1144,2018-05-01,163.69,163.75,162.77,163.22,1.14,0.00,1.03,23.827416,14.611838,...,default value,56.217536,-0.017427,default value,default value,default value,default value,default value,default value,NEE
1144,2018-05-01,161.48,164.39,160.77,164.16,3.62,0.00,1.41,13.723687,22.716685,...,default value,52.077634,0.029764,default value,default value,default value,default value,default value,default value,MCO
1144,2018-05-01,18.65,18.83,18.45,18.75,0.38,0.00,0.25,20.128775,18.574080,...,default value,50.383092,0.338693,default value,default value,default value,default value,default value,default value,RF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186,2018-06-29,171.52,172.10,170.53,170.56,1.57,0.95,0.00,16.530312,25.546928,...,default value,43.840520,-0.514163,default value,default value,default value,default value,default value,default value,MCO
1186,2018-06-29,166.64,168.19,165.87,167.03,2.32,0.00,0.69,30.588936,14.691688,...,default value,64.856988,0.512483,default value,default value,default value,default value,default value,default value,NEE
1186,2018-06-29,109.79,111.55,109.62,110.25,2.45,1.95,0.00,20.034884,28.100255,...,default value,44.574411,-0.783952,default value,default value,default value,default value,default value,default value,TXN
1186,2018-06-29,18.28,18.38,17.77,17.78,0.61,0.26,0.00,17.243721,24.703259,...,default value,33.993852,-0.592096,4,default value,default value,default value,default value,1.17,RF
1186,2018-06-29,51.15,51.49,50.44,50.44,1.05,0.26,0.00,12.668202,26.758687,...,default value,27.756122,-0.457024,default value,default value,default value,default value,default value,default value,TFC

In [125]:
tester = investor(1, 10000)

In [126]:
#tester.work(symbols_e, 8, "TFC")
tester.buy( symbols_e, {"MCO": 2}, "stopFiv", "2018-05-10", "2018-05-20")
tester.getAssetList()

Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
Now sold all Shares of Share MCO
The worker owns 0 of Asset MCO
The profit that was generated by buying and selling stocks of MCO amounts to [-1.51]
The remaining capital amounts to: [9998.49]
The total profit that was generated in this round amounts to [-1.51]
The worker owns 0 of Asset MCO

In [136]:
compete(symbols_e, 10000, [[{"MCO": 2, "NEE": 2}, "", "2018-05-02", "2018-06-20"], [{"NEE": 2}, "", "2018-05-10", "2018-05-20"]])

Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
Now sold all Shares of Share MCO
The worker owns 0 of Asset MCO
Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
Now sold all Shares of Share MCO
The worker owns 0 of Asset MCO
Now buying 2 Shares of Share MCO
The worker owns 2 of Asset MCO
Now selling 1 Shares of Share MCO
The worker owns 1 of Asset MCO
The profit that was generated by buying and selling stocks of MCO amounts to [-189.42]
Now buying 2 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
Now sold all Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 0 of Asset NEE
Now buying 2 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
Now sold all Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 0 of Asset NEE
Now buying 2 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset MCO
The worker owns 1 of Asset NEE
The profit that was generated by buying and selling stocks of NEE amounts to [-150.61]
The remaining capital amounts to: [9659.97]
The total profit that was generated in this round amounts to [-340.03]
Now buying 2 Shares of Share NEE
The worker owns 2 of Asset NEE
Now selling 1 Shares of Share NEE
The worker owns 1 of Asset NEE
The profit that was generated by buying and selling stocks of NEE amounts to [-157.92]
The remaining capital amounts to: [9842.08]
The total profit that was generated in this round amounts to [-157.92]
Worker with number 1 has created a profit of [-340.03]
Worker with number 2 has created a profit of [-157.92]

In [25]:
optex = pd.read_csv("Data/optex.csv")

In [26]:
optex.head()

,UnderlyingSymbol,UnderlyingPrice,Exchange,OptionRoot,OptionExt,Type,Expiration,DataDate,Strike,Last,Bid,Ask,Volume,OpenInterest,T1OpenInterest
0,A,62.78,*,A180615C00050000,NaN,call,06/15/2018,06/01/2018,50.0,12.00,12.80,12.95,0,5,5
1,A,62.78,*,A180615P00050000,NaN,put,06/15/2018,06/01/2018,50.0,0.01,0.00,0.03,0,1,1
2,A,62.78,*,A180615C00055000,NaN,call,06/15/2018,06/01/2018,55.0,0.00,7.70,9.45,0,0,0
3,A,62.78,*,A180615P00055000,NaN,put,06/15/2018,06/01/2018,55.0,0.09,0.02,0.09,0,126,126
4,A,62.78,*,A180615C00057500,NaN,call,06/15/2018,06/01/2018,57.5,5.15,5.20,5.60,0,19,19

In [27]:
optex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898316 entries, 0 to 898315
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   UnderlyingSymbol  898316 non-null  object
 1   UnderlyingPrice   898316 non-null  float64
 2   Exchange          898316 non-null  object
 3   OptionRoot        898316 non-null  object
 4   OptionExt         0 non-null       float64
 5   Type              898316 non-null  object
 6   Expiration        898316 non-null  object
 7   DataDate          898316 non-null  object
 8   Strike            898316 non-null  float64
 9   Last              898316 non-null  float64
 10  Bid               898316 non-null  float64
 11  Ask               898316 non-null  float64
 12  Volume            898316 non-null  int64
 13  OpenInterest      898316 non-null  int64
 14  T1OpenInterest    898316 non-null  int64
dtypes: float64(6), int64(3), object(6)
memory usage: 102.8+ MB

In [28]:
optex["UnderlyingSymbol"].unique()

array(['A', 'AA', 'AABA', ..., 'ZUO', 'ZX', 'ZYNE'], dtype=object)

In [35]:
optexScoped = optex[(optex["UnderlyingSymbol"] == "MCO") & (optex["Type"] == "call")]

In [1]:
optexScoped

NameError: name 'optexScoped' is not defined